@import "_normalize"; 

/*Clearfix*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*Box sizing*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width:100%;
  background-color: #383434;

.container {
  width:100%;
  max-width: 1100px;
  background-image:url("../../assets/images/paper_@2X.png");
  width:100%;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 40px;
  // font-family: 'Calibri','CalibriRegular',Verdana,Arial,Helvetica,sans-serif;
  font-family: sans-serif;

h1 {
  color: #E6E6E6;
  text-shadow: 1px 1px 1px black;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}

.selected {
  opacity:0.33;
  }
  
.greyScaleFilter {
  filter: grayscale(1);
  }

.sepiaFilter {
  filter: sepia(1);
  }

.saturationFilter {
  filter: saturate(6);
  }


.switchHolder {
  clear:both;
  width:800px;
  margin-left: 5%;

  // border-bottom: 2px solid gray;
  // closing curlybrace is below saturation switch
    .normalSwitch { 
      img {
        width:40px;
        height:40px;
        clear:both;
        float: left;
        margin-left: 32%;
        margin-top: 2%;
        background-color: white;
        border-radius:10%;
        box-shadow: 0 0 0 4px white, 0 0 5px 4px black;
          &:hover {
            box-shadow: 0 0 2px 6px white;
            cursor:pointer;
          }
      }
    }

    .greyScaleSwitch {
      img {
        width:40px;
        height: 40px;
        float: left;
        margin-left: 10%;
        margin-top: 2%;
        background-color: gray;
        border-radius:10%;
        box-shadow: 0 0 0 4px gray, 0 0 5px 4px black;
          &:hover {
            box-shadow: 0 0 2px 6px gray;
            cursor:pointer;
          }
      }
    }

    .sepiaSwitch {
      img {
        width:40px;
        height: 40px;
        float: left;
        margin-left: 10%;
        margin-top: 2%;
        background-color: brown;
        border-radius:10%;
        box-shadow: 0 0 0 4px brown, 0 0 5px 4px black;
          &:hover {
            box-shadow: 0 0 2px 6px brown;
            cursor:pointer;
          }
      }
    }

     .saturationSwitch {
        img {
          width:40px;
          height: 40px;
          float: left;
          margin-left: 10%;
          margin-top: 2%;
          background-color: red;
          border-radius:10%;
          box-shadow: 0 0 0 4px red, 0 0 5px 4px black;
            &:hover {
              box-shadow: 0 0 2px 6px red;
              cursor:pointer;
            }
        }
      }
    }

// .gallery {}
.gallery .previews, 
.gallery .mainImage {
    float: left;
    margin-right: 10px;
    margin-left: 2%;
}

.gallery .mainImage {
    max-width: 400px;
    // width:100%;
    font-size: 12px;
}


// .gallery .desc h2 {
//     margin-top: 0;
// }

.gallery .previews a {
    display: block;
    border-bottom: 10px solid white;
    border-radius:0.5px;
    margin-bottom: 10px;
    box-shadow:0 0 0 2px white, 0 0 5px 4px black;

      &:hover {
         box-shadow:0 0 0 2px white, 0 0 4px 3px black;
      }
}

.gallery .full, 
.gallery .mainImage img {
    margin-left: 10%;
    height: 445px;
    border-bottom: 60px solid white;
    box-shadow:0 0 0 2px white, 0 0 5px 4px black;
}

.gallery .previews a, .gallery .mainImage {
    // border: 2px solid gray;
}

.placeholder {
  background-color: black;
  width: 650px;
  height: 430px;
  position: absolute;
  left:310px;
  top:95px;
  opacity: 0.2;

    h3 {
      text-align: center;
      padding: 14%;
      line-height: 1.5;
      // width:400px;
      // margin-left:15%;
      // margin-top: 15%;
      font-family: verdana;
      color:white;
    }
}

.gallery .previews a:hover,
.gallery .previews a.selected {
   box-shadow:0 0 0 2px white, 0 0 4px 3px black;
}

.gallery .mainImage img:hover {
    cursor: pointer;
}

.mainImage {
  opacity: 0;
}
// .camera {
//   float:left;
//   background-color: black;
//   width:20px;
//   height:20px;
// }


.textbox {
  float:left;
  max-width:220px;
  height:350px;
  margin-left: 25%;
  margin-top: 10;
  padding:15px;
  background-color: transparent;
  color: #E6E6E6;
  text-shadow: 1px 1px 1px black;
  font-weight: 100;
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5;

}


// .textbox1,
// .textbox2,
// .textbox3,
// .textbox4,
// .textbox5 {
//   float:left;
//   max-width:200px;
//   margin-left: 26%;
//   margin-top:0;
//   padding:20px;
//   background-color: white;
//   display:none
// }


}//container closing

}//body closing