<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Week 5 Project
	link(rel="stylesheet", href="../assets/styleSheets/styles.css")
	link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,900', rel='stylesheet', type='text/css')
